<header class="app-header">
    <div class="header-content">
        <div class="logo-container">
            <a href="https://dii.univpm.it/en-gb/home/" target="_blank" rel="noopener noreferrer">
                <img src="/images/logoDII_maxres.jpg" alt="UNIVPM logo" class="logo">
            </a>
            <div class="title-container">
                <h1>BlockCheck</h1>
                <span class="version">v0.1.0</span>
            </div>
        </div>

        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/learn-more">How it works</a>
            <a href="https://github.com/secomms" target="_blank" rel="noopener noreferrer">Github</a>
        </nav>
    </div>
    <hr>
</header>
