<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title><%= title %> | BlockCheck</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<%- include('partials/header') %>

<main>
    <%- body %>
</main>

<%- include('partials/footer') %>
<script src="/javascripts/script.js"></script>
</body>
</html>
